.home .hero img {
    margin: 0.5rem auto !important;
    max-height:240px!important;
}

blockquote {
  padding         : auto;
  line-height     : 22px;
  border-radius   : 5px;
  display         : block;
  border-color    : #78c578;
  background-color: #e6f9e6;
  padding-left    : 1em;
  margin-bottom   : 0.8em;
}


.mode {
  content:'权限';
  font-size:14px;
  position:fixed;
  top:70px;
  right:30px;
  z-index:50;
  cursor:pointer;
  background:#3eaf7c;
  border-radius:50%;
  color:#fff;
  display:block;
  width:46px;
  height: 46px;
  line-height:16px;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  transition:all ease 0.3s;
}
.mode:hover {
  background-color: #4abf8a;
  transform: rotate(360deg)
}

.hide {
  display:none!important;
}
.inlineBlock {
  display:inline-block;  
}
img {
  transition:all ease 0.3s;
  cursor:pointer;
}


.hide {
  display:block;
  z-index:-1;
  opacity:0;
}
.pop {
  position:fixed;
  width:100vw;
  height:100%;
  top:0;
  left:0;
  z-index:9999;
  opacity:1;
  transition:all ease 0.3s;
  overflow:hidden;
}
.pop img{margin:0 auto;max-height:94vh;}
.mask {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:rgba(0,0,0,0.5);
  display:flex;
  justify-content:center;
  align-items:center;
}
.img-box {
  width:80%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.img-box img{width:100%}

#comment {
  padding:2rem 0!important;
}

.big {width: 100%!important;}
.middle {width: 49%!important;}
.small {width: 32.5%!important;}

/* 覆盖主题样式 */
.vp-hero-infos {text-align: center!important;}
.vp-hero-info {flex-direction: column!important;}

    
